{% extends "base.html" %}

{% block content %}
  <table id="data" class="table hover">
    <thead>
      <tr>
        <th></th>
        <th>Start Location</th>
        <th>(Min) Start Date</th>
        <th>Max Start Date</th>
        <th>End Location</th>
        <th>(Min) End Date</th>
        <th>Max End Date</th>
        <th>Allowed Hours</th>
        <th>Max Distance</th>
        <th>Max Drive Time</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
    <tfoot>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </tfoot>
  </table>
{% endblock %}

{% block scripts %}
  <!--For icons-->
  <script src="https://kit.fontawesome.com/df90046356.js" crossorigin="anonymous"></script>
  <!-- For DataTable -->
  <script>
    $(document).ready(function () {

      // Add event listener for opening and closing details
      $('#data').on('click', 'tbody td.dt-control', function () {
          var tr = $(this).closest('tr');
          var row = table.row( tr );

          if ( row.child.isShown() ) {
              row.child.hide();
          }
          else {
              row.child( format_subtable(row.data()) ).show();
          }
      } );

      // For stateSave, see https://datatables.net/examples/api/row_details_stateSave.html
      $('#data').on('requestChild.dt', function(e, row) {
          row.child(format_subtable(row.data())).show();
      })

      var table = $('#data').DataTable({
        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
        "scrollY": "700px",
        "ajax": "/api/car_rental_requests",
        "rowId": 'id',
        "stateSave": true,
        "columns": [
          {
            data: null,
            className: 'dt-control',
            orderable: false,
            defaultContent: '',
          },
          {data: 'start_location'},
          {data: 'start_time'},
          {data: 'max_start_time'},
          {data: 'end_location'},
          {data: 'end_time'},
          {data: 'max_end_time'},
          {data: 'allowed_hours'},
          {data: 'max_distance'},
          {data: 'max_drive_time'},
        ],
      });


    });

    function format_subtable ( d ) {
        // `d` is the original data object for the row
        s = '';
        for (let i = 0; i < d.runs.length; i++) {
            s +=
              '<tr>'+
                  '<td><a href="' + d.runs[i].view_url + '">' +
                    '<i class="fa-solid fa-up-right-and-down-left-from-center" style="font-size:20px;color:lightblue;"></i>' +
                    '</a></td>' +
                  '<td>'+d.runs[i].run_time+'</td>'+
                  // Add delete option
                  '<td>' +
                    '<form action="' + d.runs[i].delete_url + '" method=post class=delete-run>' +
                      '<input type=hidden value=' + d.runs[i].request_id + ' name=request_id />' +
                      '<input type=hidden value=' + d.runs[i].id + ' name=run_id />' +
                      '<button type="submit" style="border: none; background-color: transparent;"> <i class="fa-solid fa-trash-can" style="font-size:20px;color:lightblue;"></i> </button>>' +
                    '</form>' +
                  '</td>' +
              '</tr>';
        }
        return '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:150px;">'+
            s +
        '</table>';
    }

  </script>
{% endblock %}
