{% extends "base.html" %}


<!--  TODO(tombs): Use checkboxes instead of dropdown -->
<!--  TODO(tombs): Save toggle and filter settings and change colors-->
{% block content %}
  <div>
    Toggle data:
      <a class="toggle-vis" data-column="0">Image</a> -
      <a class="toggle-vis" data-column="1">Category</a> -
      <a class="toggle-vis" data-column="2">Vendor</a> -
      <a class="toggle-vis" data-column="3">Price</a> -
      <a class="toggle-vis" data-column="4">Start Address</a> -
      <a class="toggle-vis" data-column="5">Start Time</a> -
      <a class="toggle-vis" data-column="6">Target Address</a> -
      <a class="toggle-vis" data-column="7">End Time</a> -
      <a class="toggle-vis" data-column="8">Review</a> -
      <a class="toggle-vis" data-column="9">Transmission</a> -
      <a class="toggle-vis" data-column="10">Persons</a> -
      <a class="toggle-vis" data-column="11">Doors</a> -
      <a class="toggle-vis" data-column="12">Mileage</a> -
      <a class="toggle-vis" data-column="13">Attributes</a> -
      <a class="toggle-vis" data-column="14">Reserve</a>
  </div>
  <br>

  <table id="data" class="table hover">
    <thead>
      <tr>
        <th></th>
        <th>Category</th>
        <th>Vendor</th>
        <th>Price</th>
        <th>Start Address</th>
        <th>Start Time</th>
        <th>Target Address</th>
        <th>End Time</th>
        <th>Review</th>
        <th>Transmission</th>
        <th>Persons</th>
        <th>Doors</th>
        <th>Mileage</th>
        <th>Attributes</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    </tbody>
    <tfoot>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th>
          <input type="text" placeholder="Search address" />
        </th>
        <th>
          <input type="text" placeholder="Search date" />
        </th>
        <th>
          <input type="text" placeholder="Search address" />
        </th>
        <th>
          <input type="text" placeholder="Search date" />
        </th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th>
          <input type="text" placeholder="Search attributes" />
        </th>
        <th></th>
      </tr>
    </tfoot>
  </table>
{% endblock %}


{% block scripts %}
  <!--For icons-->
  <script src="https://kit.fontawesome.com/df90046356.js" crossorigin="anonymous"></script>
  <!-- For DataTable -->
  <script>
    $(document).ready(function () {
      var table = $('#data').DataTable({
        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
        "scrollY": "700px",
        ajax: '/api/car_rental/{{ request.args.get('request_id') }}/{{ request.args.get('run_id') }}',
        // TODO(tombs): Causes BUG with filtering, keeps filtering after refresh (without text)
<!--        stateSave: true,-->
        initComplete: function () {
            // Apply selector search
            this.api().columns([1, 2, 9, 10, 11, 12]).every( function () {
                var column = this;
                var select = $('<select><option value=""></option></select>')
                    .appendTo( $(column.footer()).empty() )
                    .on( 'change', function () {
                        var val = $.fn.dataTable.util.escapeRegex( $(this).val());
                        column.search( val ? '^'+val+'$' : '', true, false ).draw();
                    } );

                var searchTerm = column.search();
                column.data().unique().sort().each( function ( d, j ) {
                  if (d === searchTerm) {
                    selected = 'selected="selected"';
                  } else {
                    selected = '';
                  }
                  select.append( '<option value="'+d+'" ' + selected +'>'+d+'</option>' )

                } );
            } );


            // Apply text search
            this.api().columns([4, 5, 6, 7, 13]).every( function () {
                var column = this;

                $( 'input', this.footer() ).on( 'load keyup change clear', function () {
                    if ( column.search() !== this.value ) {
                        column.search( this.value, true, false ).draw();
                    }
                } );
            } );
        },
        searchCols: [
          null,
          null,
          null,
          null,
          null,
          null,
          null,
          null,
          null,
          {search: 'Automatic', escapeRegex: false},
          null,
          null,
          {search: 'Unlimited mileage', escapeRegex: false},
          null,
          null,
        ],
        order: [[1, 'asc']], // Not working as expected but there's a bug without it https://datatables.net/forums/discussion/21709/orderable-false-on-target-0-first-col-not-working-until-another-column-is-sorted
        columns: [
          {
            data: 'image_url',
            orderable: false,
            searchable: false,
            render: function(data, type, row, meta) {
              return '<div class="address">' + '<img src="' + data + '" style="width:105px;height:47px;">'
                     + '<span class="tooltiptext">' + row.summary +'</span></div>';
            }
          },
          {data: 'car_category', orderable: false, visible: false},
          {data: 'vendor', orderable: false, visible: false},
          {data: 'price'},
          {
            data: 'start_address',
            orderable: false,
            render: function(data, type, row, meta) {
              var address;

              if (type == 'display') {
                if (row.start_maps_link) {
                  address = '<a class="address" href="' + row.start_maps_link  + '" target="_blank">' + row.start_address + '</a>'
                } else {
                  address =  row.start_address
                }
                return '<div class="address">' + address + '<span class="tooltiptext">' + data +'</span></div>'
              } else {
                return data;
              }
            }
          },
          {data: 'start_time'},
          {
            data: 'end_address',
            orderable: false,
            render: function(data, type, row, meta) {
              var address;

              if (type == 'display') {
                if (row.end_maps_link) {
                  address = '<a class="address" href="' + row.end_maps_link  + '" target="_blank">' + row.end_address + '</a>'
                } else {
                  address =  row.end_address
                }
                return '<div class="address">' + address + '<span class="tooltiptext">' + data +'</span></div>'
              } else {
                return data;
              }
            }
          },
          {data: 'end_time'},
          {data: 'review', searchable: false},
          {data: 'transmission', visible: false, orderable: false},
          {data: 'persons', visible: false},
          {data: 'doors', visible: false},
          {data: 'mileage', visible: false, orderable: false},
          {
            data: 'attributes',
            render: function(data, type, row, meta) {
                if (type == 'sort') {
                  return data.length;
                }
                if (type == 'display') {
                  list = data;
                  list.sort();
                  var html = '';

                   for (var i=0; i < list.length; i++) {
                      switch (list[i].toLowerCase()) {
                        case 'pay at pick-up':
                            html += '<div class="attribute" style="padding: 2px;display: inline-block;">' +
                            '<i class="fa-solid fa-comments-dollar" style="font-size:20px;color:lightblue;"></i>'
                            + '<span class="tooltiptext">Pay at pick-up</span></div>'
                            break;
                        case 'free cancellation':
                            html += '<div class="attribute" style="padding: 2px;display: inline-block;">'
                            + '<i class="fa-solid fa-shield" style="font-size:20px;color:lightblue;"></i>'
                            + '<span class="tooltiptext">Free cancellation</span></div>'
                            break;
                        case 'reserve with a card and save':
                            html += '<div class="attribute" style="padding: 2px;display: inline-block;">' +
                            '<i class="fa-solid fa-credit-card" style="font-size:20px;color:lightblue;"></i>'
                            + '<span class="tooltiptext">Reserve with a card and save</span></div>'
                            break;
                        case 'online check-in':
                            html += '<div class="attribute" style="padding: 2px;display: inline-block;">' +
                            '<i class="fa-solid fa-mobile-screen" style="font-size:20px;color:lightblue;"></i>'
                            + '<span class="tooltiptext">Online check-in</span></div>'
                            break;
                        default:
                            html += '<div class="attribute" style="padding: 2px;display: inline-block;"s>' +
                            '<i class="fa-solid fa-circle-question" style="font-size:20px;color:lightblue;"></i>'
                            + '<span class="tooltiptext">' + list[i] + '</span></div>'
                            break;
                      }
                    }
                  return html;
                } else {
                  return data;
                }
            }
          },
          {
            data: 'reserve_url',
            orderable: false,
            searchable: false,
            render: function(data, type, row, meta) {
              return '<td><a class="reserve" href="' + data + '" target="_blank">Reserve!</a></td>';
            }
          },
        ],
      });

      $('a.toggle-vis').on( 'click', function (e) {
        e.preventDefault();

        // Get the column API object
        var column = table.column( $(this).attr('data-column') );

        // Toggle the visibility
        column.visible( !column.visible() );
      } );

    });
  </script>

{% endblock %}
