{% extends "base.html" %}

<!--  TODO(tombs): Add rescheduling of existing request without creating the form again-->
{% block content %}
<form method="POST">
   <div><label>Start Location: <input type="text" name="start_location"></label></div>
   <div><label>Start Date: <input type="date" name="start_date"></label></div>
   <div><label>End Location: <input type="text" name="end_location"></label></div>
   <div><label>Start Date: <input type="date" name="end_date"></label></div>
   <div><label>Min Start Time: <input type="number" name="min_start_time" min="1" max="999"></label></div>
   <div><label>Max Start Time: <input type="number" name="max_start_time" min="1" max="999"></label></div>
   <div><label>Min End Time: <input type="number" name="min_end_time" min="1" max="999"></label></div>
   <div><label>Max End Time: <input type="number" name="max_end_time" min="1" max="999"></label></div>
   <div><label>Allowed hours (TODO list): <input type="text" name="allowed_hours"></label></div>
   <div><label>Max Distance (km): <input type="number" name="start_location"></label></div>
   <div><label>Max (est.) Drive Time (h): <input type="number" name="framework"></label></div>
   <input type="submit" value="Submit">
</form>
{% endblock %}

{% block scripts %}

{% endblock %}
