h1 {
    border: 2px #eee solid;
    color: brown;
    text-align: center;
    padding: 10px;
}


/* Address tooltip text */
.address .tooltiptext {
  visibility: hidden;
  opacity: 0.85;
  width: 280px;
  background-color: grey;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 10px;
  position: absolute;
  z-index: 1;
}
/* Show the tooltip text when you mouse over the tooltip container */
.address:hover .tooltiptext {
  visibility: visible;
}


/* Attribute Icon tooltip text */
.attribute .tooltiptext {
  visibility: hidden;
  opacity: 0.85;
  background-color: grey;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  position: absolute;
  border-radius: 10px;
}
/* Show the tooltip text when you mouse over the tooltip container */
.attribute:hover .tooltiptext {
  visibility: visible;
}





td.highlight {
    background-color: whitesmoke !important;
}

tfoot input {
        width: 100%;
        padding: 3px;
        box-sizing: border-box;
}